@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600;700&family=Open+Sans:wght@300;400;700&display=swap");
.side-bar {
  background-color: #695aa6;
  display: block !important;
  position: fixed;
  right: 0px;
  width: 250px;
  z-index: 3000;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  margin-right: -100%;
  transition: 0.5s;
}

.side-box {
  text-align: center;
  padding: 100px 0;
}
.side-box .btn-hide:focus {
  box-shadow: none !important;
}
.side-box ul li {
  margin-bottom: 23px;
}
.side-box ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
}
.side-box ul li a:hover {
  border-bottom-color: #ffffff;
  border-bottom: 2px solid;
}

.hero {
  width: 100%;
  height: 85vh;
  background-color: #f1f1f1;
  margin-bottom: 300px;
}
.hero .logo {
  height: 84px;
  cursor: pointer;
}
.hero .btn-menu {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 5%;
  z-index: 2001;
  cursor: pointer;
}
.hero .btn-menu i {
  font-size: 16px;
  color: #695aa6;
}
.hero .banner-text h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-weight: 400;
}
.hero .banner-text h2 {
  font-size: 50px;
  font-family: "Baloo Paaji 2", cursive;
  color: #695aa6;
  font-weight: 700;
}
.hero .cursor h3 {
  margin-left: 200px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 415px) and (min-width: 362px) {
  .hero {
    height: 53vh;
    margin-bottom: 200px;
  }
  .hero .hero-header {
    padding: 5px 10px !important;
  }
  .hero .banner-text {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .hero .banner-text h1 {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 400;
  }
  .hero .banner-text h2 {
    font-size: 40px;
    font-family: "Baloo Paaji 2", cursive;
    color: #695aa6;
    font-weight: 700;
  }
  .hero .cursor h3 {
    margin-left: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
  }
}
@media (max-width: 700px) and (min-width: 416px) {
  .hero {
    height: 67vh;
    margin-bottom: 250px;
  }
  .hero .cursor h3 {
    margin-left: 100px;
    font-family: "Open Sans", sans-serif;
  }
}
@media (max-width: 361px) and (min-width: 319px) {
  .hero {
    height: 60vh;
    margin-bottom: 170px;
  }
  .hero .hero-header {
    padding: 5px 10px !important;
  }
  .hero .banner-text {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .hero .banner-text h1 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 400;
  }
  .hero .banner-text h2 {
    font-size: 35px;
    font-family: "Baloo Paaji 2", cursive;
    color: #695aa6;
    font-weight: 700;
  }
  .hero .cursor h3 {
    margin-left: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hero {
    height: 93vh;
    margin-bottom: 300px;
  }
  .hero .hero-header {
    padding: 0 10px;
  }
  .hero .banner-text {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .hero .banner-text h1 {
    font-size: 55px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 400;
  }
  .hero .banner-text h2 {
    font-size: 50px;
    font-family: "Baloo Paaji 2", cursive;
    color: #695aa6;
    font-weight: 700;
  }
}
@media screen and (min-height: 1020px) {
  .hero {
    height: 63vh;
    margin-bottom: 300px;
  }
  .hero .hero-header {
    padding: 0 10px;
  }
  .hero .banner-text {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .hero .banner-text h1 {
    font-size: 55px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 400;
  }
  .hero .banner-text h2 {
    font-size: 50px;
    font-family: "Baloo Paaji 2", cursive;
    color: #695aa6;
    font-weight: 700;
  }
}
@media (max-width: 1024px) and (min-width: 992px) {
  .hero {
    height: 73vh;
  }
}
.about .about-profile {
  width: 250px !important;
  height: 250px !important;
}
.about .my-name h3 {
  font-weight: bold;
  font-family: "Baloo Paaji 2", cursive;
  color: #695aa6;
}
.about .my-name h6 {
  font-family: "Open Sans", sans-serif;
}
.about .social-icon a {
  text-decoration: none;
}
.about .social-icon i {
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #444444;
  transition: 0.5s;
  color: #444444;
  font-size: 22px;
  margin-right: 6px;
}
.about .social-icon .fb:hover {
  background-color: #3B5998;
  border-color: #3B5998;
  color: #ffffff;
}
.about .social-icon .email:hover {
  background-color: #c92a30;
  border-color: #c92a30;
  color: #ffffff;
}
.about .social-icon .ph:hover {
  background-color: green;
  border-color: green;
  color: #ffffff;
}
.about .social-icon .gh:hover {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}
.about .about-status .about-card {
  border: none !important;
}
.about .about-status .about-card p {
  line-height: 30px;
  word-spacing: 1.5px;
  font-size: 16px;
}

.service {
  margin-top: 100px;
}
.service .service-info {
  transition: 0.6s;
}
.service .service-info .service-card {
  background-color: #f1f1f1 !important;
  border: none !important;
}
.service .service-info .service-box {
  text-align: center;
  display: inline-block;
}
.service .service-info .service-box .service-img {
  position: absolute;
  z-index: 10;
  transition: all 0.5s ease;
}
.service .service-info .service-box .service-img-hover {
  opacity: 0;
  transition: all 0.5s ease;
}
.service .service-info .card-body h4 {
  font-weight: bold;
  transition: 0.6s;
}
.service .service-info:hover {
  box-shadow: 0px 0px 9px 0px rgba(105, 90, 166, 0.5);
  transition: all 0.6s ease;
}
.service .service-info:hover .service-img {
  opacity: 0;
  transition: all 0.5s ease;
}
.service .service-info:hover .service-img-hover {
  opacity: 1;
  transition: all 0.5s ease;
}
.service .service-info:hover .card-body h4 {
  color: #695aa6;
  transform: scale(1.02);
}

.hire {
  margin: 100px 0;
  background-color: #695aa6;
  padding: 25px 0;
  box-shadow: 0px 0px 9px 0px rgba(105, 90, 166, 0.5);
  transition: all 0.6s ease;
}
.hire .hire-info {
  color: #ffffff;
}
.hire .hire-info h4 {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
}
.hire .btn-hire {
  background-color: #ffffff;
  padding: 10px 23px;
  border-radius: 40px;
  color: #222222;
  font-weight: bold;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 20px;
  transition: 0.5s;
}
.hire .btn-hire:hover {
  color: #695aa6;
}

.resume .resume-title {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
  color: #222222;
  font-size: 28px;
  margin-top: 70px;
}
.resume .resume-card {
  border: none !important;
  background-color: #f1f1f1;
  border-radius: 10px !important;
  transition: 0.5s;
}
.resume .resume-card .resume-year {
  background-color: #695aa6;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 10px;
  color: #ffffff;
}
.resume .resume-card h5 {
  font-size: 25px;
  font-family: "Baloo Paaji 2", cursive;
}
.resume .resume-card p {
  font-size: 16px;
}
.resume .resume-card:hover {
  box-shadow: 0px 0px 9px 0px rgba(105, 90, 166, 0.5);
  transition: all 0.6s ease;
}
.resume .resume-card:hover h5 {
  color: #695aa6;
}
.resume .skill .skill-bar {
  background-color: #695aa6;
}
.resume .skill p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.profile {
  margin: 100px 0;
}
.profile .profile-box {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.profile .profile-box .gallery-hover {
  background-color: #ffffffee !important;
  opacity: 0.9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.profile .profile-box .gallery-hover .gallery-icon i {
  color: #695aa6;
}
.profile .profile-box .gallery-hover p {
  color: #695aa6;
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
  font-size: 22px;
}
.profile .profile-box .profile-img {
  width: 600px;
  height: 200px;
}

.contact .contact-card .card {
  border: none !important;
}
.contact .contact-card .contact-form {
  border-radius: 70px !important;
  padding: 20px;
}
.contact .contact-card .btn-submit {
  color: #695aa6;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 25px;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  transition: 0.5s;
}
.contact .contact-card .btn-submit:hover {
  background-color: #695aa6;
  color: #ffffff;
  border-color: #695aa6;
}

.footer {
  background-color: #f1f1f1;
}
.footer .footer-icon i {
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #695aa6;
  border-radius: 50%;
  transition: 0.5s;
  color: #ffffff;
  font-size: 18px;
  margin-right: 6px;
}
.footer .footer-icon a {
  text-decoration: none;
}

.copy-right {
  background-color: #695aa6;
  color: #ffffff;
  padding: 30px;
}
.copy-right .btn-up {
  width: 40px;
  height: 40px;
  background-color: #695aa6;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 5%;
  bottom: 75px;
}
.copy-right .btn-scroll {
  display: none;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

.co-title {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.title {
  color: #695aa6;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 36px;
  font-weight: bold;
}

.ani-delay-1 {
  animation-delay: 0.5s;
}

.ani-delay-2 {
  animation-delay: 1s;
}

.ani-delay-3 {
  animation-delay: 1.5s;
}

.ani-delay-4 {
  animation-delay: 2s;
}

.ani-delay-5 {
  animation-delay: 2.5s;
}