.about{

        .about-profile{
            width: 250px !important;
            height: 250px !important;
        }

        .my-name{
            h3{
                font-weight: bold;
                font-family: $title-font;
                color: $primary-col;
            }
            h6{
                font-family: $p-font;
            }
        }

        .social-icon{
            a {
                text-decoration: none;
            }

            i {
                width: 45px;
                height: 45px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $secondary-col;
                // border-radius: 50%;
                transition: 0.5s;
                color: $secondary-col;
                font-size: 22px;
                margin-right: 6px;
            }

            .fb {
                &:hover {
                    background-color: #3B5998;
                    border-color: #3B5998;
                    color: #ffffff;
                }
            }

            .email {
                &:hover {
                    background-color: #c92a30;
                    border-color: #c92a30;
                    color: #ffffff;
                }
            }

            .ph {
                &:hover {
                    background-color: green;
                    border-color: green;
                    color: #ffffff;
                }
            }

            .gh {
                &:hover {
                    background-color: $semi-dark;
                    border-color: $semi-dark;
                    color: #ffffff;
                }
            }
        }

        .about-status{
            .about-card{
                border: none !important;
                 p {
                     line-height: 30px;
                     word-spacing: 1.5px;
                     font-size: 18px;
                 }
            }
        }
    
}