.profile{
    margin: 100px 0;

        .profile-box{
            padding-right: 0px !important;
            padding-left: 0px !important;

                .gallery-hover {
                    background-color: #ffffffee !important;
                    opacity: 0.9;
                    backdrop-filter: blur(5px);

                        .gallery-icon{
                            i{
                                color: $primary-col;
                            }
                        }
                    p {
                        color: $primary-col;
                        font-family: $title-font;
                        font-weight: bold;
                        font-size: 22px;
                    }
                }
                .profile-img{
                    width: 600px;
                    height: 200px;
                    // border: 2px solid $primary-col;
                }
        }
}
