.about{
    padding-bottom: 100px;

        .about-status{
            font-family: $text-font;
            h5{
                color: $text-dark;
            }
            h1{
                font-family: $title-font;
                color: $secondary-col;
            }
            p{
                color: $text-light;
                word-spacing: 2px;
            }
            ul{
                li{
                    color: $text-dark;
                }
            }
        }
}